.new-collection {
  width: 100%;
}
.new-collection-container {
  max-width: 90%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
  flex-wrap: wrap;
}
.new-collection-title h1 {
  font-size: 32px;
  text-transform: uppercase;
}
.new-collection-title hr {
  width: 300px;
  text-align: center;
}
.new-collection-products {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media screen and (max-width: 1300px) {
  .new-collection-products {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
